<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses Page</title>
</head>
<body>

<!--private String title;-->
<!--private String course_level;-->
<!--private String description;-->
<!--private String image;-->
<tr th:each="course: ${courses}">
    <td th:text="${course.title}"></td>
    <br />
    <td th:text="${course.course_level}"></td>
    <br />
    <td th:text="${course.description}"></td>
    <br />

    <img th:src="${course.image}" src="image" alt="image"/>
    <br />

</tr>
</body>
</html>