<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Quiz Page</title>
  </head>
  <body>
    <!--private String title;-->
    <!--private String course_level;-->
    <!--private String description;-->
    <!--private String image;-->
    <tr th:each="Quiz: ${quiz}">
      <td th:text="${Quiz.id}"></td>
      <br />
      <td th:text="${Quiz.question}"></td>
      <br />


<tr th:each="quiz: ${quiz}">
    <td th:text="${quiz.question}"></td>
    <br />
    <td>
        <ul >
            <li th:text=" ${quiz.answers.answer_a}"></li>
            <li th:text=" ${quiz.answers.answer_b}"></li>
            <li th:text=" ${quiz.answers.answer_c}"></li>
            <li th:text=" ${quiz.answers.answer_d}"></li>
            <li th:text=" ${quiz.answers.answer_e)}"></li>
            <li th:text=" ${quiz.answers.answer_f}"></li>

        </ul>
    </td>
    <br />


</tr>
</body>
</html>

