<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/quiz.css}">
    <title>Quiz Page</title>
</head>
<body>

<form action="/submit" method="post" th:object="${qForm.questions}">
    <div th:each="ques,i:${qForm.questions}">
        <p th:text = "${ques.question}" ></p>
        <div>
            <input type="radio" th:name="|[${i.index}].chose|"  >
            <p th:text="${ques.answer_a}"></p>
        </div>
        <div>
            <input type="radio" th:name="|[${i.index}].chose|" th:id="${ques.answer_b}">
            <p th:text="${ques.answer_b}"></p>
        </div>
        <div>
            <input type="radio" th:name="|[${i.index}].chose|" th:id="${ques.answer_c}">
            <p th:text="${ques.answer_c}"></p>
        </div>
        <div>
            <input type="radio" th:name="|[${i.index}].chose|" th:id="${ques.answer_d}">
            <p th:text="${ques.answer_d}"></p>
        </div>
        <div>
            <input type="radio" th:name="|[${i.index}].chose|" th:id="${ques.answer_e}">
            <p th:text="${ques.answer_e}"></p>
        </div>
        <div>
            <input type="radio" th:name="|[${i.index}].chose|" th:id="${ques.answer_f}">
            <p th:text="${ques.answer_f}"></p>
        </div>
    </div>
    <button type="submit" class="btn btn-danger d-block mx-auto mt-4">Submit Answer</button>
</form>
</body>
</html>